<header class="jumbotron">
  <h1 class="text-center"></h1>
</header>


<main class="container">
  <div class="row" *ngIf="mensagem.texto">
    <div class="col-10 offset-2">
      <app-mensagem [texto]="mensagem.texto" [tipo]="mensagem.tipo"></app-mensagem>
    </div>
  </div>
  <div class="row">

    <form #formCadatro="ngForm" action="" (ngSubmit)="salvar()" class="col-md-5 offset-md-2">
      <div class="form-group">
        <label for="">Titulo</label>
        <!-- (keypress)="foto.titulo = $event.target.value" -->
        <input required [(ngModel)]="foto.titulo" type="text" name="titulo" [value]="foto.titulo" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Url</label>
        <input [(ngModel)]="foto.url" type="text" name="url" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Descrição</label>
        <textarea [(ngModel)]="foto.descricao" type="text" name="descricao" class="form-control"></textarea>
      </div>
      <button class="btn btn-primary float-left">Salvar</button>
      <a routerLink="/" class="btn btn-secondary float-right">Voltar</a>
    </form>
    <aside class="col-md-5 ">
      <app-card [foto]="foto" class="col-md-4">

      </app-card>
    </aside>
  </div>
</main>