<header class="jumbotron">
  <h1 class="text-center">{{title}}</h1>
</header>
<main class="container">
  <div class="row mb-md-4">
    <div class="col-md-12">

      <a routerLink="/cadastro" class="btn btn-primary">Nova foto</a>

    </div>
  </div>
  <div class="row" *ngIf="mensagem.texto">
    <div class="col-10 offset-2">
      <app-mensagem [texto]="mensagem.texto" [tipo]="mensagem.tipo"></app-mensagem>
    </div>
  </div>
  <div class="row">
    <app-card *ngFor="let foto of listaFotos" [foto]="foto" class="col-md-4">
      <button (click)="apagar(foto)" class="btn btn-danger">Apagar</button>
      <a [routerLink]="['/cadastro',foto._id]" class="btn btn-primary">Editar</a>
    </app-card>
  </div>

</main>